body { 
font-family: Arial, sans-serif;
max-width: 500px;
margin: auto;
padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.menuimage {
    height: 50px;
    width: 50px;
    padding-top: 20px;
}

input {
width: 95%;
padding: 8px;
margin: 5px 0;
}

button {
   width: 100%;
   padding: 8px;
   margin: 5px 0;
   margin-top: 5px;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

th, td {
border: 1px solid #ccc;
padding: 8px;
text-align: center;
}

button.delete {
background: red;
color: white;
border: none;
padding: 5px 10px;
}